.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #afb2b6;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    height: 3rem; /* Reduzindo a altura */
}

.username {
    font-weight: bold;
}

.logout-btn {
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logout-btn mat-icon {
    margin-right: 0.5rem;
}