/* header.component.css */
.header {
    position: fixed;
    top: 0;
    left: 240px; /* Posicionamento inicial */
    background: #afb2b6;
    color: white;
    z-index: 999;
    width: calc(100% - 240px); /* Largura inicial */
    transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1); /* Transição completa */
}

.content-container.collapsed {
    left: 30px; /* Posicionamento quando recolhido */
    width: calc(100% - 30px); /* Largura ajustada */
}