/* home.component.css */
.card {
    width: 90%;
    margin: 20px auto; /* Margem ajustada */
    background-color: rgb(235, 235, 235);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

img {
    max-height: 60vh;
    width: auto;
    margin: 20px auto;
    display: block;
}

.mat-card-header {
    text-align: center;
    padding: 20px;
}