.container {
    height: 100%;
    /*background: linear-gradient(90deg, rgba(112,207,246,1) 100%, rgba(6,156,171,1) 100%, rgba(0,212,255,1) 100%);*/
    background-color: rgb(235, 235, 235);
    display: flex;
    align-items: center;
    justify-content: center;
}
.form {
    width: 30rem;
    margin: auto;
    /*background-color: rgb(235, 235, 235);*/
    background: linear-gradient(90deg, rgba(112,207,246,1) 100%, rgba(6,156,171,1) 100%, rgba(0,212,255,1) 100%);
    padding: 4rem 1rem;
    border-radius: 1rem;
}

h1 {
    width: 100%;
    text-align: center;
}

.full-width {
    width: 100%;
}

img {
    height: 15rem;
    width: 100%;
    margin: 1.5rem auto 1.5rem auto;
}

button {
    margin-top: 1.5rem;
}