<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <mat-nav-list class="nav-list">
        <a mat-list-item routerLink="home">
            <i class="material-icons">home</i>
            <span>home</span>
        </a>
      <a mat-list-item routerLink="usuariocomum">
        <i class="material-icons">person</i>
        <span>Usuário</span>
    </a>
    <a mat-list-item routerLink="administrador">
      <i class="material-icons">supervisor_account</i>
      <span>Administrador</span>
  </a>
  <a mat-list-item (click)="logout()">
    <i class="material-icons">logout</i>
    <span>Logout</span>
</a>
    </mat-nav-list>
  </mat-drawer>

  <div class="sidenav-content">
    <app-header [drawer]="drawer"></app-header>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>