.main-container {
    height: 100vh;
    display: flex;
}

.sidenav {
    width: 240px;
    background: linear-gradient(90deg, rgba(112,207,246,1) 100%, rgba(6,156,171,1) 100%);
    transition: width 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
    overflow-x: hidden;
    position: relative;
    z-index: 2;
}

.sidenav.collapsed {
    width: 60px;
}

.nav-list {
    padding-top: 70px; /* Espaço para o header */
}

.menu-text {
    transition: opacity 0.2s ease;
    white-space: nowrap;
}

.sidenav.collapsed .menu-text {
    opacity: 0;
    width: 0;
}

.content-container {
    flex: 1;
    transition: margin-left 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
    
}

.content-container.collapsed {
    margin-left: 60px;
}

.page-content {
    padding: 20px;
    margin-top: 60px; /* Altura do header */
    height: calc(100vh - 60px);
    overflow-y: auto;
}